@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
  }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none; }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  /* ---------- header ---------- */

  .firstSection {
    display: grid;
    grid-template: repeat(5, 100px) / repeat(1, 1fr);
    background: url("/img/card-img.png") no-repeat 100% 100%, linear-gradient(144deg, #190422 21.1%, #190422 102.96%);
}
header{
    display: flex;
    align-items: center;
    color: aliceblue;
}
    .firstSpan {
        padding: 1rem;
        font-size: 54px;
        font-weight: 600;
        flex: 0 1 30%;
    }

    .firstSpan > strong{
        color: #BC8AFC;
    }

    .firstNav__list {
        display: flex;
        align-items: baseline;
        flex: 1 1 auto;
        justify-content: space-around;
    }
    .firstNav__list_listItem {
        font-weight: 300;
    }
    .firstNav__list_btn {
        background-color: #BC8AFC;
        padding: 5px 20px;
        border-radius: 7px;
    }

    .firstSection__budgetPlanBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding-left: 1rem;
        grid-row: 2 / 4;
        color: #FFF;
    }
    .firstSection__budgetPlanBlock_h1 {
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
    }

    .firstSection__budgetPlanBlock_btn,
    .secondSection__firstBlock_btn {
        border-radius: 7px;
        background-color: #BC8AFC;
        padding: 7px 20px;
    }
    .statisticBlock{
        position: relative;
        top: 35%;
        display: flex;
        grid-row:5;
        border-radius: 16px;
        background: #FFF;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
        justify-content: space-around;
        margin: 0 1rem;
        align-items: center;
    }

    .statisticBlock__item span{
        color: #1F262E;
        font-size: 38px;
        text-align: center;
        font-weight: 600;
    }

    .statisticBlock__item span > strong{
        color: #BC8AFC;
    }

    .statisticBlock__item p{
    color: #1F262E;
    font-size: 16px;
    }

    .secondSection{
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: url("/img/Group\ 33.png") no-repeat;
    }

    .secondSection > img{
      max-width: 100%;
      height: 500px;
      object-fit: contain;
    }

    .secondSection__firstBlock{
      display: flex;
      flex-flow: row wrap;
      flex: 0 1 50%;
      row-gap: 20px;
      
    }
    
    .secondSection__firstBlock > h1{
      flex: 0 1 90%;
      font-size: 38px;
font-weight: 600;
line-height: 100%;
align-self: baseline;
    }

    .secondSection__firstBlock > p{
      /* margin-top: 1rem; */
      font-size: 20px;
line-height: 158%;
    }
    .secondSection__firstBlock_btn{
      align-self: start;
      /* margin-top: 1rem; */
    }

    .thirdSection{
      margin: 80px 0 0 80px;
      background: linear-gradient(124deg, white 90%, rgb(134, 181, 210));
    }

    .thirdSection > h1{
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 158%;
    }

    .thirdSection__container{
      display: grid;
      grid-template: repeat(2, 300px) / repeat(2, 1fr);
      gap: 20px;
    }
    

    .thirdSection__item > img{
      background-color: #33163f;
      padding: 7px;
      border-radius: 37%;
      object-fit: contain;
      width: 60px;
      height: 60px;
    }

    .thirdSection__item > h3{
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 158%;
    }

    .thirdSection__item{
      font-size: 20px;
      line-height: 158%; 
    }

    .fourthSection{
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: url("/img/Group\ 33.png") no-repeat;
      background-size: contain;
    }

    .fourthSection > img{
      max-width: 100%;
      height: 500px;
      object-fit: contain;
    }

    .fourthSection__firstBlock{
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      flex: 0 1 50%;
    }

    .fourthSection__firstBlock > h2{
      font-size: 48px;
      font-weight: 600;
line-height: 130.5%;
    }

    .fourthSection__firstBlock > p{
      font-size: 20px;
line-height: 158%
    }

    .fourthSection__firstBlock_list{
      margin-left: 3rem;
    }

    .fourthSection__firstBlock_listItem{
      list-style-image: url("/img/list-svg.svg");
      font-size: 20px;
    }

    footer{
      margin-top: 2rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      justify-content: space-around;
      padding: 4rem;
    color: aliceblue;
      background-color: rgba(25, 4, 34, 1);
    }


    .mail__block > h4{
      font-weight: 300;
    }

    .mail__block > input{
      color:#736D6D;
      padding: 13px;
      border-radius: 5px;
    }
    .mail__block > button{
      position: relative;
      top: 0;
      left: -10%;
      background-color: #BC8AFC;
      padding: 13px 25px;
      border-radius: 5px;

    }
    .img__block{
      display: flex;
      
      align-items: center;
      column-gap: 20px;
      
    }

    footer ul{
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      /* justify-content: space-between; */
    }



    footer ul li{
      font-size: 18px;
      font-weight: 300;
      margin-right: 1rem;
    }

    .footerSpan {
      
      font-size: 54px;
      font-weight: 600;
  }

  .footerSpan > strong{
      color: #BC8AFC;
  }

  .menu__button:hover{
    transform: scale(1.2);
  }

  .menu__burger{
    display: none;
    position: relative;
    top: -9%;
  }
  .menu__burger span{
    margin-bottom: 5px;
    border-radius: 2px;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
  }

  @media (min-width: 768px) and (max-width: 834px) {
    .secondSection{
      margin-top: 3rem;
    }
    .fourthSection{
      background-position: 70% 45%;
    }

    .fourthSection > img{
      height: 400px;
    }

    .fourthSection__firstBlock{
      justify-content: center;
    }

    .fourthSection__firstBlock > h2{
      font-size: 32px;
    }

    .fourthSection__firstBlock > p{
      font-size: 16px;
    }

    .fourthSection__firstBlock_listItem{
      font-size: 16px;
    }
    
      footer ul{
        display: flex;
        flex-direction: column;
      }
    
  }

  @media (min-width: 320px) and (max-width: 450px) {
    header{
      align-items: center;
      justify-content: space-between;
      margin: 0 1.1rem;
    }
    .firstNav__list{
      display: none;
    }
    .firstSpan{
      font-size: 30px;
      padding: 0;
      flex: 0 1 80%;
    }
    .menu__burger{
      display: flex;
      flex-direction: column;
    }

    .firstSection{
    grid-template: repeat(6, 100px) / repeat(1, 1fr);

      background-position: 20% 100%;
      background-size: contain;
      
    }
    .firstSection__budgetPlanBlock_h1 {
      font-size: 30px;
  }
  .statisticBlock{
    position: relative;

    top: 120%;

}

.secondSection{
  margin-top: 2rem;
  flex-wrap: wrap;
  background-position: 60% 0%;
  justify-content: center;
  background-size: contain;
  background-attachment: fixed;

}

.secondSection > img{
  height: 300px;
}

.secondSection__firstBlock{
  flex: 1 1 auto;

  margin-left: 2rem;
}

.secondSection__firstBlock > h1{
  font-size: 32px;
}

.secondSection__firstBlock > p{
  font-size: 16px;
}
.thirdSection,
.fourthSection{
  margin: 2rem 0 2rem 2rem;
}

.thirdSection > h1{
  font-size: 32px;
}

.thirdSection__container{
  grid-template-columns: 1fr;
}

.fourthSection{
  flex-direction: column;
  background: none;
  
}

.fourthSection > img{
  display: none;
}

.fourthSection__firstBlock > h2{
  font-size: 32px;
}

.fourthSection__firstBlock > p,
.fourthSection__firstBlock_listItem{
  font-size: 16px;
}
footer{

  row-gap: 20px;
}


.footerSpan{
  font-size: 32px;
}

footer ul{
display: block;
}

footer ul li{
  margin: 0;  
}

.img__block{
  margin-top: 10px;
}

.mail__block{
  display: flex;
  flex-direction: column;
row-gap: 10px;
}

.mail__block > button{
  left: 0;
}

  }